<div class="row">
	<div class="col-4 d-flex justify-content-center">
		<img class="img-fluid img-thumbnail rounded" src="{{ show.image }}">
	</div>
	<div class="col-8">
		<h3>{{ show.name }}</h3>
		<p class="lead">
			{{{ show.summary }}}
		</p>
		<p>
			<code>Rating: </code> <i>{{ show.rating }}</i>
		</p>
		<div class="d-flex justify-content-between">
			<a class="btn btn-sm btn-warning" href="/">
				<i class="fas fa-home mr-1"></i>
				Back
			</a>
			{{#if hasSite}}
				<a class="btn btn-sm btn-primary" href="{{ show.official_site }}" target="_blank">
				<i class="fas fa-paper-plane mr-1"></i>
					Official Site
				</a>
			{{/if}}
		</div>
	</div>
</div>
